@if (User.Identity.IsAuthenticated)
{
    <form method="post" class="form-inline" asp-page="/Account/Logout">
        Welcome @User.Identity.Name
        <button type="submit" class="ml-2 btn btn-primary">Logout</button>
    </form>
}
else
{
    <div class="form-group row">
        <div class="col-2">
            <a type="submit" class="btn btn-primary" asp-page="/Account/Login">Login</a>
        </div>
    </div>
}